<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href='#/dashboard' class="al-menu clearfix"><span>Dashboard</span></a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
  <a class="al-logo clearfix"><span>Operational Dashboard</span></a>
  <div class="user-profile clearfix">
    <div class="al-user-profile">
        <a href class="signout" ng-click="signOut()"><i class="fa fa-power-off"></i>Sign out</a>
    </div>
  </div>
</div>