<section ng-controller="searchCtrl">
 
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div ba-panel ba-panel-title="SEARCH" ba-panel-class="with-scroll ">
            
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <form role="form" class="col-lg-8">
                            <div class="form-group">
                                <label>Source System</label>
                                <input class="form-control" ng-model="source">
                                
                            </div>
                            <div class="form-group">
                                <label>Target System</label>
                                <input class="form-control" ng-model="target">
                            </div>
                                                   
                                                       
                             <button type="submit" class="btn btn-default" ng-click="searchResults()">Seach</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <form role="form" class="col-lg-8">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input id="input-date" type="date" class="form-control">
                                
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <input id="input-date" type="date" class="form-control">
                            </div>
                            
                        </form>
                    </div>

                     <div class="col-lg-4">
                        <form role="form" class="col-lg-8">
                            <div class="form-group">
                                <label>State</label>

                               <select class="form-control">
                                  <option>OK</option>
                                  <option>ERROR</option>
                                </select>

                                </div>
                            <div class="form-group">
                                <label>Identifier</label>
                                <input class="form-control">
                            </div>
                            
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->

                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row" ng-show="doShow">
    <div class="col-lg-12">
        <transaction-Table></transaction-Table>
    </div>
</div>  
</section>